body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

header {
  width: 100%;
  border-bottom: 1px solid #d9dadc;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
  padding-right: 0;
  padding-top: 20px;
}

header>img {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 100px;
}

div {
  display: block;
}

.login-to-continue {
  display: flex;
  justify-content: center;
}

.login-to-continue>h1 {
  font-family: inherit;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.1;
  color: inherit;
}

.loginBox {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: block;
  margin-top: 0em;
}

.form-control {
  background-color: #ffffff;
  padding: 6px 12px;
  background-image: none;
  border-radius: 5px;
  border: 1px solid #d9dadc;
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
}

.form-control::placeholder {
  color: #bab8b8;
  font-weight: bold;
}

.checkbox {
  position: relative;
  color: #797979;
}

.login-settig {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkbox>input[type="checkbox"] {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: 1px solid #a12e98;
}

.btn-login {
  background-color: #a12e98;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  color: #ffffff;
  margin-top: 20px;
}

.btn-login:hover {
  background-color: #db4acf;
}

.remember-me p {
  color: #858585;
}

.findId a {
  color: #a12e98;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

.findid>p {
  font-size: 15px;
  margin-top: 20px;
}

.findId>a:hover {
  color: #db4acf;
}

.signup>p {
  color: #000000;
  font-weight: bold;
}

.lable {
  display: none;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

div .signup:after {
  content: "";
  display: block;
  width: 60px;
  border-top: 1px solid #bcbcbc;
  margin: 20px auto;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.signupBtn {
  background-color: #ffffff;
  width: 500px;
  height: 50px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 500px;
  padding: 16px 48px 18px;
  border-width: 2px;
  border-color: #5c5c5c;
  letter-spacing: 1px;
  min-width: 400px;
  color: #303030;
}

.signupBtn {
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 48px 18px;
  transition-property: background-color, border-color, color, box-shadow, filter;
  transition-duration: 0.3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 60px;
  text-transform: uppercase;
  white-space: normal;
  border: 1.5px solid #5c5c5c;
  margin-bottom: 30px;
}

.signupBtn:hover {
  background-color: #5c5c5c;
  font-weight: bold;
  font-size: 14px;
  border-radius: 500px;
  padding: 16px 48px 18px;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  color: #ffffff;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.divider {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

footer {
  border-top: 1px solid #d9dadc;
}

footer>p {
  padding-top: 20px;
  color: #818181;
  font-size: 10px;
  text-align: center;
}